#banner
  .banner_content
    %h1 NoteNote
    %p Your Online Notebook, Never Forget Your Idea Again
    .button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The great note"
    %p.name "Abhishek Acharya"

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p Vegan artisan cronut iPhone truffaut raw denim tousled skateboard art party, brooklyn bushwick affogato pitchfork. Small batch street art schlitz iPhone everyday carry sustainable.
      .callout
        %h2 Rocket
        %p Vegan artisan cronut iPhone truffaut raw denim tousled skateboard art party, brooklyn bushwick affogato pitchfork. Small batch street art schlitz iPhone everyday carry sustainable.
      .callout
        %h2 Lightning
        %p Vegan artisan cronut iPhone truffaut raw denim tousled skateboard art party, brooklyn bushwick affogato pitchfork. Small batch street art schlitz iPhone everyday carry sustainable.

#buttom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign Up!!!!
    .button= link_to "Click Meee!!!!", new_user_registration_path

%footer
  %p &copy; Abhishek Acharya